.card {
  background-color: var(--primary, 0.2);
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  user-select: none;
  border-radius: 14px;
  z-index: 1000;
  position: absolute;
  place-self: anchor-center;
  width: max-content;
  width: 500px;
  text-align: -webkit-center;
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
}

.card_title {
  color: var(--highlight);
  font-size: 1.5rem;
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: min-content;

}

.img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  user-select: none;
}

.label {
  color: var(--highlight);
  font-weight: bold;
  font-size: 1.2rem;
}

.input,
.select_trigger {
  color: var(--highlight);
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--primary);
  height: 2.5rem;
  width: 15rem;
}

.input:focus,
.select_trigger:focus {
  border-color: var(--action);
}

.card_footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.select_item:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.checkbox {
  color: var(--highlight);
}

.select_content {
  z-index: 1200;
}
@media screen and (max-width: 430px) {
  .card {
    width: 95%;
    padding: 0.8rem;
    place-self: anchor-center;
  }

  .card_header {
    flex-direction: row;
  }

  .card_title {
    font-size: 1.3rem;
  }

  .img {
    max-width: 220px;
  }

  .input,
  .select_trigger {
    font-size: 0.9rem;
    width: 10rem;
    height: 2.3rem;
  }

  .field {
    gap: 0.4rem;
  }

  .icon {
    width: 18px;
    height: 18px;
  }

  .div {
    justify-content: space-evenly;
  }
}
