.input {
  background-color: var(--primary);
  color: var(--highlight);
  border: 2px solid var(--secondary);
  border-radius: 18px;
  width: 15rem;
  height: 3rem;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.input:hover {
  border: 2px solid var(--action);
}

.input:focus {
  border: 2px solid var(--action);
}

.input::placeholder {
  color: var(--highlight);
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .searchBar {
    display: block;
    z-index: 1000;
    position: absolute;
    top: 25px;
  }

  .input {
    width: 13rem;
  }
}
